click
cloudml-hypertune
coverage
docutils==0.17
flake8
flit
folium
furo
gcsfs
geopandas
geopy
google-cloud-storage
holidays
jupyter
numpy
pandas
scikit-learn
scipy
seaborn
shapely
sphinx
sphinx-autobuild
sphinx-pyproject
sphinxcontrib-napoleon
yapf