click
coverage
flakeheaven
folium
furo
geopandas
geopy
holidays
jupyter
mccabe
numpy
pandas
pylint
scikit-learn
scipy
seaborn
shapely
sphinx
sphinx-autobuild
sphinx-pyproject
sphinxcontrib-napoleon
yapf